@import 'tailwindcss';

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  cursor: pointer;
}


body{
  background-color: #000A0F;
}

.refcetion::-webkit-scrollbar {
  height: 1px;
}

.refcetion::-webkit-scrollbar-track {
  background-color: #000A0F;
}

.refcetion::-webkit-scrollbar-thumb {
  background-color: red;
}
